.container{
    margin: 5px;
    padding: 5px;

}

.h1{
    font-weight: 600;
    font-family:  Geneva,  sans-serif;
}

.form{
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    align-self: flex-start;
}